.navset{
    position: fixed;
    left: 5%;
    top: 3%;
    width:5%;
    height:5%;
    padding-bottom: 2%;
    z-index: 9999999;
    display: inline;
}

.set{
    opacity: 1.0;
    backdrop-filter: blur(20px);
    /*background-image: url(../assets/ceremonyicon.png);
    width: 50px;
    height: 50px;
    */
}

li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.set2{
    width:80px;
    height:40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9aea7+0,efb8b1+49,f4bcb5+51,efa69e+71,e59b95+99&1+0,0.23+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(249,174,167,1) 0%, rgba(239,184,177,0.62) 49%, rgba(244,188,181,0.6) 51%, rgba(239,166,158,0.45) 71%, rgba(229,155,149,0.24) 99%, rgba(229,155,149,0.23) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,174,167,1) 0%,rgba(239,184,177,0.62) 49%,rgba(244,188,181,0.6) 51%,rgba(239,166,158,0.45) 71%,rgba(229,155,149,0.24) 99%,rgba(229,155,149,0.23) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(249,174,167,1) 0%,rgba(239,184,177,0.62) 49%,rgba(244,188,181,0.6) 51%,rgba(239,166,158,0.45) 71%,rgba(229,155,149,0.24) 99%,rgba(229,155,149,0.23) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9aea7', endColorstr='#3be59b95',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /*border: 1px solid #AC7777;*/
    /*outline: 1px solid black;*/
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}
@keyframes example {
    0%   {height: 40px; padding-top: 10px; padding-bottom: 10px;}
    25%  {height: 45px; padding-top: 7.5px; padding-bottom: 7.5px;}
    50%  {height: 50px; padding-top: 5px; padding-bottom: 5px;}
    75%  {height: 45px; padding-top: 7.5px; padding-bottom: 7.5px; }
    100% {height: 40px; padding-top: 10px; padding-bottom: 10px;}
}

@keyframes example4 {
    0%   {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.0);}
    25%  {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);}
    50%  {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    75%  {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);}
    100% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.0);}
}

.set2:hover{
    width:80px;
    height:43px;
    background-color: rgba(240, 240, 240, 0.25);
    /*border: 1px solid #AC7777;*/
    border-radius: 2px;
    /*
    padding-bottom: 8.5px;
    padding-top: 8.5px;
    */
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;

    /*
    box-shadow:
    0px 1px 1px 1px rgba(27, 27, 27, 0.3),
    1px 0 0 0 rgba(0, 0, 0, 0.32);*/
}

.set2:visited{
    width:80px;
    height:43px;
    background-color: rgba(240, 240, 240, 0.36);
    border: 1px solid #AC7777;
    border-radius: 5px;
    padding-bottom: 8.5px;
    padding-top: 8.5px;
    object-fit: contain;
}