<div class="generaltext"  (window:resize)="onResize()">
        <div class="texth" style.font-size="{{rtitleWeight}}px">Celebration</div>
        <br><br>
        <div class="addresstext" style.font-size="{{raddressWeight}}px"> Rye Restaurant</div>
        <div class="addresstext2" style.font-size="{{raddressWeight}}px"> 10551 Mission Road</div>
        <div class="addresstext3" style.font-size="{{raddressWeight}}px"> Leawood, Kansas 66206</div>
        <br>
        <!--
        <img  src="./assets/bitmap.png" style.height="{{rmapImageSize}}px"> -->
        <div class="addresstext4" style.font-size="{{raddressWeight}}px"> Website<div class="texts">:</div> <a href="http://www.ryekc.com">ryekc.com</a>
        <br><br>
         Date and Time<div class="texts">:</div> October 28th at 2-4pm
         <br><br>
         Reservation name<div class="texts">:</div>  Overton<br><br>
         People are welcome to arrive between 1:00 PM to 1:30 PM.  <br>
         Beverages of all sorts will be available upon arrival.<br>  
      
         It is our pleasure to provide this meal 
         <br>in celebration of our marriage. 
         
        </div>  
        </div>