<div class="generaltext">
        <div class="texth" style.font-size="{{rtitleWeight}}px">Ceremony</div>
        <br><br>
        <div class="addresstext" style.font-size="{{raddressWeight}}px"> Overland Park Arboretum</div>
        <div class="addresstext2" style.font-size="{{raddressWeight}}px"> 8909 W 179th Street</div>
        <div class="addresstext3" style.font-size="{{raddressWeight}}px"> Overland Park, Kansas 66013</div>
        <br>
        <img  src="./assets/bitmap.png" style.height="{{rmapImageSize}}px">
        <div class="addresstext4" style.font-size="{{raddressWeight}}px"> From the Arboretum parking lot go to the Monet Garden
        <br><br>
         Date and Time<div class="texts">:</div> October 28th at Noon
         <br><br>
         Photographer<div class="texts">:</div>  Moree Scofield
         <br>Photo session will proceed wedding ceremony 
         <br>and continue through the duration of the wedding ceremony.<br>
         Any are welcome to take photos.  
         <br>Just don’t blind us with the flash!  Haha!
         <br>
         <br>
         Officiant<div class="texts">:</div>  Janet K Tinsley,  colleague and friend of the bride
         <br><br>
         Processional music<div class="texts">:</div>  John Overton, father of the groom.
         <br><br>
         Inclement Weather<div class="texts">:</div>
         This will be an outdoor wedding!  <br>Prepare possibly for cooler temperatures!<br>    
         If inclement weather occurs, the Arboretum visitor<div class="texts">'</div>s center<br> will serve as the alternative location for the wedding ceremony.
         
        </div>  
        </div>