.generaltext{
    text-align: center;
}

.texth{
    font-family: "Destain";
    
}

.texts{
    font-family: "KGChelseaMarketScript";
    display: inline;
}

.addresstext{
    font-family: "TerryScript";
    
    text-align: left;
    position: relative;
    left: 34%;
}

.addresstext2{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 37%;
}

.addresstext3{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 32%;
}

.addresstext4{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 15%;
}

@font-face {
    font-family: "TerryScript";
    src: url('../assets/ter1.ttf') format("truetype");
}

@font-face {
    font-family: "Destain";
    src: url('../assets/destain.ttf') format("truetype");
}

@font-face {
    font-family: "KGChelseaMarketScript";
    src: url('../assets/KGChelseaMarketScript.ttf') format("truetype");
}