.generaltext{
    text-align: center;
    left: 10%;
    position: absolute;
}

.texth{
    font-family: "Destain";
    animation-name: example3;
    animation-duration: 4.0s;
    animation-iteration-count:infinite;
}

.texts{
    font-family: "KGChelseaMarketScript";
    display: inline;
}

.addresstext{
    font-family: "TerryScript";
    
    text-align: left;
    position: relative;
    left: 34%;
}

.addresstext2{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 37%;
}

.addresstext3{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 32%;
}

.addresstext4{
    font-family: "TerryScript";
    text-align: left;
    position: relative;
    left: 15%;
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: "TerryScript";
    src: url('../assets/ter1.ttf') format("truetype");
}

@font-face {
    font-family: "Destain";
    src: url('../assets/destain.ttf') format("truetype");
}

@font-face {
    font-family: "KGChelseaMarketScript";
    src: url('../assets/KGChelseaMarketScript.ttf') format("truetype");
}

@keyframes example3 {
    0%   {text-shadow: 1px 1px 2px rgba(255, 255, 255, 0), 5px 20px 50px rgba(219, 219, 219, 0), 0 0 5px rgba(100,100,100,0);}
    25%  {text-shadow: 5px 5px 5spx rgba(255, 255, 255, .5), 5px 20px 50px rgba(219, 219, 219, .5), 0 0 5px rgba(100,100,100,.5);}
    50%  {text-shadow: 5px 5px 5px rgba(255, 255, 255, 1.0), 5px 20px 50px rgba(219, 219, 219, 1.0), 0 0 5px rgba(100,100,100,1.0);}
    75%  {text-shadow: 5px 5px 5px rgba(255, 255, 255, .5), 5px 20px 50px rgba(219, 219, 219, .5), 0 0 5px rgba(100,100,100,.5);}
    100% {text-shadow: 5px 5px 5px rgba(255, 255, 255, 0), 5px 20px 50px rgba(219, 219, 219, 0), 0 0 5px rgba(100,100,100,0);}
}