<div class="textt">
<div class="container">
        <h1 style.font-size="{{rtitleWeight}}px">Guest Form</h1>
        <form >
          <div class="n1">
            <label style.font-size="{{rlabelWeight}}px" class="label1" for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
     
          <div class="n1">
            <label style.font-size="{{rlabelWeight}}px" for="email">Email</label>
            <input  type="text" class="form-control" id="email">
          </div>

          <div class="n1">
                <label style="vertical-align: top" style.font-size="{{rlabelWeight}}px" for="message">Message</label>
                
                <textarea style="height: 200px; width: 500px" class="form-control" id="message"> </textarea>
            </div>
              
     
          <button style="position: relative; top: 10px" style.font-size="{{rlabelWeight}}px" type="submit" class="btn btn-success"><div class="textt">Submit</div></button>
     
        </form>
    </div>
    </div>